<div class='container'>
  <form method='post' action='/get_tweets'>
    <input type='text' name='screen_name' placeholder='twitter usename'>
    <input type='submit' value='Load Tweets'>
  </form>

  <div class='tweets'>
  </div>
</div>
