<div class='container'>
  <h3>Tweeting as: Chaeokeefe</h3>
  <form id="make_tweet" method='post' action='/tweet' >
    <input type='text' name='tweet' placeholder='Tweet Message'>
    <br />
    <input type='submit' value='Tweet!'>
  </form>

<div class='posted_tweet'>
</div>

</div>
