<div class='container'>
  <form name='tweet'>
    <label>Twitter Username</label>
    <input type='text' name='screen_name'>
    <label>Tweet:</label>
    <input type='text' name='tweet'>
    <input type='submit' value='Tweet!'>
  </form>
</div>
